
.col{
    padding-top: 1.875rem;
}
.carousel-inner img{
    width: 30%;
}
.carousel-inner{
 height: 500px;
 width: 30%;
}
.card__container{
    padding: 20px;
}
.card{
    transition: all .3s ease-in-out;
    
}
/* .card-img-top:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 15px rgb(rgb(45, 143, 68), green, blue);
} */

.card:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
}